@model PagingResult<AgentListingModel>
@{
    ViewBag.Title = "Manage Agents";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage Vendors</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    @*<div class="header noborder">
                            <h3 > <a href="@Url.Action("AddAgent", "Agent", new { area = "Admin" })" class="btn btn-primary pull-right" title="Add Agent"><i class="fa fa-user "></i><super><i class="fa fa-plus"></i></super></a></h3>
                        </div>*@
                    <div class="content">
                        <div class="table-responsive">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "CreatedAt", SortOrder = "Desc" })
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="AGENCY">AGENCY </th>
                                            <th class="sorting" data-sortby="VENDOR">VENDOR</th>
                                            <th class="sorting" data-sortby="POSID">POS ID</th>
                                            <th class="sorting" data-sortby="PHONE">CELL PHONE</th>
                                            <th class="sorting" data-sortby="AGENT">AGENT NAME</th>
                                            <th class="sorting" data-sortby="SALES">TODAY'S SALES</th>
                                            <th class="sorting" data-sortby="BALANCE">BALANCE</th>
                                            <th class="sorting" data-sortby="ENABLED">ENABLED</th>
                                            <th class="sorting">ACTION</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_agencyListing", Model)
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @*@Html.Partial("_Paging")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/UserScripts/agency.js"></script>



    <script type="text/javascript">
        $("#searchField").show();
        var searchFields = ["VENDOR", "POSID", "AGENT NAME", "CELL PHONE", "ENABLED"];
        for (var i = 0; i < searchFields.length; i++) {
            $("#searchField").append("<option value=" + searchFields[i] + ">" + searchFields[i] + "  </option>")
        }
        $(document).ready(function () {
            //initialize the javascript
            $('#searchField option[value="VENDOR"]').attr("selected", true);
            $('.filter-select option[value="100"]').attr('selected', true)
            App.init();
            Vendors.ManageUsers(totalCount);
        });
    </script>
}

