@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');



.separator {
    display: flex;
    align-items: center;
    text-align: center;
} 
    .separator::before, .separator::after {
        content: '';
        flex: 1;
        border-bottom: 2px solid #f6eded;
    }

    .separator::before {
        margin-right: .25em;
    }

    .separator::after {
        margin-left: .25em;
    }

label {
    font-weight: bold;
    font-size: 12px;
}

.input {
    font-weight: bold;
}

#top, #mid, #bot { /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
    padding-bottom: 20px;
}

.top, .mid, .bot { /* Targets all id with 'col-' */
    border-bottom: 1px solid #EEE;
}

#top {
    min-height: 100px;
}

#mid {
    min-height: 80px;
}

#bot {
    min-height: 50px;
}

#top .logo {
    height: 60px;
    width: 160px;
    background: url(http://vendtechsl.com/Content/images/logo1.jpg) no-repeat;
    background-size: 160px 60px;
}

.clientlogo {
    float: left;
    height: 60px;
    width: 60px;
    background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
    background-size: 60px 60px;
    border-radius: 50px;
}

.info {
    display: block;
    //float:left;
    margin-left: 0;
}

#token {
    margin-top: 50px;
    margin-bottom: 50px;
}

.title {
    float: right;
}

    .title p {
        text-align: right;
    }

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    //padding: 5px 0 5px 15px;
    //border: 1px solid #EEE
}

.tabletitle {
    //padding: 5px;
    font-size: .5em;
    background: #EEE;
}

.service {
    border-bottom: 1px solid #EEE;
}

.item {
    width: 24mm;
}

.itemtext {
    font-size: .5em;
}

#legalcopy {
    margin-top: 5mm;
}

}





#gen-invoice h2 {
    color: #f4c613;
    font-size: 26px;
    font-weight: 700;
}

#gen-invoice h5 {
    color: #f4c613;
}

#date {
    margin: 20px 0 0 20px;
}

.customer-details ul {
    margin: 0;
    padding: 0;
}

#token {
    font-size: 26px;
    font-weight: 700;
}

.customer-details ul li {
    margin-bottom: 5px;
    list-style: none;
    color: #f4c613;
    font-size: 18px;
}

#tarrif, #tender, #r_address {
    margin-bottom: 5px;
    color: #f4c613;
    font-size: 14px;
}

.customer-details hr {
    height: 2px;
    background-color: #f4c613;
    border: none;
}

#center-no {
    background-color: rgb(51, 65, 185);
    height: 200px;
    border-radius: 8px;
    margin: 100px auto;
    position: relative;
}

#no-samples p {
    position: absolute;
    top: 30px;
    right: 10px;
    bottom: 20px;
    font-size: 80px;
    font-weight: 500px;
}

#gen-invoice p {
    color: white;
    font-size: 50px;
}

#serial-details p {
    font-size: 20px;
    //margin-left: 40px;
    color: #f4c613;
}

#buttons-section button {
    background-color: black;
    color: white;
}


@media print {
    /* on modal open bootstrap adds class "modal-open" to body, so you can handle that case and hide body */
    body.modal-open {
        visibility: hidden;
    }

        body.modal-open .modal .modal-header,
        body.modal-open .modal .modal-body {
            visibility: visible; /* make visible modal body and header */
        }

    #top .logo {
        height: 60px;
        width: 160px;
        background: url(http://vendtechsl.com/Content/images/logo1.jpg) no-repeat;
        background-size: 160px 60px;
    }
}









.cust_bold {
    font-weight: bold
}

.cust_line {
    height: 2px;
    background: #ccc;
    margin-top: 9px;
}

.dashed_border {
    border-style: dashed;
}

.padded {
    margin: 20px;
}

.padded_up {
    padding-top: 50px;
}

#barcode {
    font-family: 'Libre Barcode 39 Text', cursive;
    font-size: 32px;
}

#generated_token {
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    padding: 0;
}
