

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.transferFromOverlay {
    width: calc(100vw - 2px);
    height: 100vh;
    position: fixed;
    background-color: gray;
    background-color: rgba(150,150,150,.5);
    z-index: 1;
    left: 1px;
    display: none;
    overflow: hidden;
}

.transferFromModal {
    width: 60%;
    height: 800px;
    margin: auto;
    z-index: 2;
    overflow: auto;
}

.transferEllbtn {
    float: right;
    font-weight: bold;
    font-size: 30px;
    background: none;
    border-radius: 4px;
}

.btnClose {
    background: none;
    border: none;
}

    .btnClose i {
        margin: 40px;
        padding: 5px;
        color: grey;
    }

.flatBtn {
    border: none;
    background: white;
}


