@model PagingResult<TemplateViewModel>
@{
    ViewBag.Title = "Manage Email Templates";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage Email Templates</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>Manage Email Templates</h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="TemplateType">TEMPLATE TYPE</th>
                                            <th class="sorting" data-sortby="TemplateName">TEMPLATE NAME</th>
                                            <th class="sorting" data-sortby="CreatedOn">CREATED ON</th>
                                            <th class="sorting" data-sortby="TemplateStatus">STATUS</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_templateListing", Model)
                                    </tbody>
                                </table>


</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/templates.js"></script>



    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            Templates.ManageTemplates(totalCount);
        });
    </script>
}

