﻿@model PagingResult<VendTech.BLL.Models.CurrencyModel.CountryListingModel>

@{
    ViewBag.Title = "Country";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}
<style>
    .isActive {
        background: black;
        color: white;
        font-weight: bold;
    }

    .notActive {
        color: black;
        background: grey
    }

    .isActive:hover {
        color: black;
        background: grey
    }

    .notActive:hover {
        background: black;
        color: white;
        font-weight: bold;
    }
</style>

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage Currency</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header noborder">
                        <h3>
                            <a href="@Url.Action("AddEdit", "Country", new { area = "Admin" })" class="btn btn-primary pull-right" title="Add POS">
                                <i class="fa fa-user "></i><super><i class="fa fa-plus"></i></super>
                            </a>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "CreatedAt", SortOrder = "Desc" })

                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="CountryName">COUNTRY NAME</th>
                                            <th class="sorting" data-sortby="CountryCode">COUNTRY CODE</th>
                                            <th class="sorting" data-sortby="CurrencyName">CURRENCY NAME</th>
                                            <th class="sorting" data-sortby="CurrencyCode">CURRENCY SYMBOL</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_countryListing", Model)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_Paging")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/country.js"></script>

    <script type="text/javascript">
        $("#searchField").show();
        var searchFields = ["Country", "Country Code", "Currency", "Currency Code"];
        for (var i = 0; i < searchFields.length; i++) {
            $("#searchField").append("<option value=" + searchFields[i] + ">" + searchFields[i] + "  </option>")
        }

        $(document).ready(function () {
            //initialize the javascript
            //$('#searchField option[value="VENDOR"]').attr("selected", true);
            $('.filter-select option[value="10000000"]').attr("selected", true);
            App.init();
            //Users.ManageUsers(totalCount);
        });


    </script>
}

