
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/_ordinaryLayout.cshtml";
}

<div class="container">
    <h1 class="mt-5">Delete Account Information - VENDETCHSL</h1>
    <p class="lead mt-3">We're sorry to see you go! If you wish to delete your account information from VENDETCHSL, please follow the steps below:</p>

    <ol class="mt-4">
        <li>Log in to your VENDETCHSL App.</li>
        <li>Click on the &#x270F; icon on the top right.</li>
        <li>Scroll down to find the "Delete Account" option.</li>
        <li>Click on the "Delete Account" button.</li>
        <!-- <li>Confirm the deletion by entering your password.</li> -->
        <li>Your account information will be permanently deleted from VENDETCHSL.</li>
    </ol>

    <p class="mt-4">If you have any questions or need assistance, feel free to contact VENDETCHSL</p>

    <div class="alert alert-danger mt-4">
        <strong>Important:</strong> Deleting your account will remove all your data from our system with the passcode blocked from accessing VENDTECHSL App, and this action cannot be undone. Please make sure you have backed up any important information before proceeding.
    </div>

    <a href="Home/index" class="btn btn-primary mt-3">Back to Home</a>
</div>
 
