


@{
    ViewBag.Title = "Reset Your Password";
    Layout = "~/Views/Shared/_beforeLoginUserLayout.cshtml";

}
<link href="/Content/sweetalert.css" rel="stylesheet" />

<div id="cl-wrapper" class="login-container">

    <div class="middle-login">
        <div class="block-flat">
            <div class="header">
                <h3 class="text-center"><a href="/"><img class="logo-img" src="@Url.Content("~/Content/images/logo1.jpg")" alt="logo" /></a></h3>
            </div>
            <div>
               
                        <form  method="post" style="margin-bottom: 0 !important;" class="form-horizontal" id="loginForm">
                            <div class="content">
                                <h4 class="title">Reset Password</h4>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input type="text" class="form-control" placeholder="Email" id="email" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="foot">
                                <button class="btn btn-primary" id="forgotBtn" type="button">Send Link</button>
                                <a class="btn btn-warning" href="/Home/Index">Login</a>

                            </div>
                        </form>
           
            </div>
        </div>
    </div>

</div>
@section scripts{
<script src="~/Scripts/UserScripts/login.js"></script>

    <script>
    $(function () {
   
    })
</script>
}