
@{
    var user = (UserDetails)ViewBag.LOGGEDIN_USER;
}
<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="fa fa-gear"></span> </button>
            <a class="navbar-brand" href="/home/dashboard"><span>Agent Panel</span></a>
        </div>
        <div class="navbar-collapse collapse">
           

            <ul class="nav navbar-nav navbar-right user-nav">
                <li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <img alt="Avatar" @*src="~/Content/images/avatar2.jpg"*@  class="profilepictureclass"  src="@(user.ProfilePicPath!=null?user.ProfilePicPath:@Url.Content("~/Content/images/avatar2.jpg"))" /><span>@user.FirstName @user.LastName</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="@Url.Action("SignOut", "Home")">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse animate-collapse -->
    </div>
</div>

<style>
    .profilepictureclass {
        width: 53px;
        height: 39px;
    }
</style>