<div class="modal-dialog modal-lg">
    <div class="modal-content modal-md">
        <div class="modal-body" id="requestRequestContent">
            <div class="row d-flex justify-content-between">
                <div class="col-md-12" style="word-wrap:break-word;">
                    <div class="col-md-6">
                        <strong>REQUEST</strong>
                        <div id="Request"></div>
                    </div>

                    <div class="col-md-6">
                        <strong>RESPONSE</strong>
                        <div id="Response"></div>
                    </div>
                </div>
            </div>
            <div class="row" id="json_print_section d-flex justify-content-end">
                <button class="btn btn-primary" onclick="JsonPrint()">PRINT</button>
            </div>
        </div>
    </div>
</div> 
