@model string

<!--<div class="modal-dialog modal-large" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>-->
    @*<iframe id="smkp" srcdoc="" width="800" height="800" frameborder="1">
        @Html.Raw(Model)
    </iframe>*@
<!--</div>-->

<div class="modal-dialog modal-large">
    <div class="modal-content modal-large" style="background: none; -webkit-box-shadow: none;">
        <div class="modal-body" >
            <iframe id="smkp" srcdoc="" width="800" height="800" frameborder="1">
        
            </iframe>
        </div> 
         
    </div>

</div>