<style>
    .page-title {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        text-align: left;
        padding: 20px 0;
        /*border-bottom: 2px solid #333;*/
        margin-bottom: 10px;
    }
</style>

<h1 class="page-title">@ViewBag.title</h1>


