
<div id="downtimeNotifyModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="">
    
        <!-- Modal content-->
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <a href="@Url.Action("Utility", "Meter")" class="close" >&times; </a>
                <hr />
            </div>
            <div class="modal-body">
                <textarea style="border: none; width: 400px; height: 500px; font-weight: bold; font-size: 20px;" readonly id="downtimeNotifyMessage">
                </textarea>

            </div>

        </div>

    </div>
</div>

