<style>
   
 
    .smsModal2 {
        width: 400px;
        height: auto;
        margin: auto;
        z-index: 3;
        overflow: hidden;
        display: block;
        position: relative;
        top:400px;
    }
    .smsOverlay2 {
        width: calc(100vw - 2px);
        height: 100vh;
        position: fixed;
        background-color: gray;
        background-color: rgba(150,150,150,.5);
        z-index: 1;
        left: 1px;
        display: none;
        overflow: hidden;
    }
</style>
<div class="smsOverlay2">


    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="smsHandler.closeSmsModal2()">&times;</button>
            </div>
            <div class="modal-body">
                <form>

                    <label  for="countryCode">SEND VOUCHER BY SMS TO:</label>
                    <div class="input-group mb-2 d-flex justify-content-center">
                        <div class="input-group-prepend col-3">
                            <select class="custom-select input-group-text" id="countryCode">
                                <option selected>+232</option>
                            </select>
                        </div>
                        <input type="text" class="form-control col-9" id="smsNumber2" placeholder="enter number here...." required>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <a  onclick="smsHandler.sendSms2()" class="btn submitBtn pull-right" a href="#">Send</a>
            </div>
        </div>
    </div>

</div>

