<style>
   
 
    .smsModal2 {
        width: 400px;
        height: auto;
        margin: auto;
        z-index: 3;
        overflow: hidden;
        display: block;
        position: relative;
        top:400px;
    }
    .smsOverlay2 {
        width: calc(100vw - 2px);
        height: 100vh;
        position: fixed;
        background-color: gray;
        background-color: rgba(150,150,150,.5);
        z-index: 1;
        left: 1px;
        display: none;
        overflow: hidden;
    }
    .smsBoxSection {
        margin: auto;
        display: block;
        height:200px;
    }
        .smsBoxSection form {
            padding: 50px;
        }

    .input-group {
        display: table
    }

        .input-group select {
            display: table-cell;
            border: 1px solid lightgrey;
            width: 23%;
            height: 35px;
        }

        .input-group input {
            display: table-cell;
            margin-left: 2px;
            
        }

    .btnClose {
        background: none;
        border: none;
    }

        .btnClose i {
            margin: 10px;
            padding: 5px;
            color: grey;
            font-size: 30px;
            font-weight:normal;
        }
</style>
<div class="smsOverlay2">
    <div class="smsModal2">
        <div class="table-responsive" style="background: white;">
            <button class="pull-right btnClose" onclick="smsHandler.closeSmsModal2()"><i class="fa fa-times"></i></button>
            <div class="smsBoxSection">
                <form class="row"> 
                    <div class="col-md-12 mb-3">
                        <label>SEND VOUCHER BY SMS TO:</label>
                        <div class="input-group">
                            <select>
                                <option value="+232">+232</option>
                            </select>
                            <input type="text" class="form-control" style="width: 70%; float:right;" id="smsNumber2" placeholder="enter number here...." required>
                        </div>
                    </div>

                    <a style="position:relative; right:80px;" onclick="smsHandler.sendSms2()" class="btn btn-primary pull-right" a href="#">Send</a>
                </form>
            </div> 
        </div>

    </div>
</div>

