<style>
    .title {
        padding: 5px;
        padding-left: 78px;
        margin: 30px;
        margin-left: 30px;
    }
</style>
<div class="transferFromOverlay" id="transferFromModal">
    <div class="transferFromModal" style=" width: calc(60vw - 0px); max-width: calc(60vw - 0px);">
        <div class="table-responsive" style="background: white;">
            <button class="pull-right btnClose" onclick="transferHandler.closeTransferFromVendors()"><i class="fa fa-times"></i></button>
            <h3 class="title">AGENCY WALLET ADMINISTRATION</h3>
            <div id="vendorsTable">

            </div>
        </div>

    </div>

</div>