@{
    ViewBag.Title = "Manage Wallet";
    Layout = "~/Views/Shared/_LayOut.cshtml";

}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage Wallet</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat front">
                    <div class="tabmain">
                        <div class="tabnav">
                            <ul>
                                <li class="active">Add Balance</li>
                                <li>Transaction History</li>
                            </ul>
                        </div>
                        <div class="tabcont">
                            <div class="tabcont-row">
                                <form>
                                    <div class="editpro-row">
                                        <div class="editpro-row50">
                                            <label>Bank Details</label>
                                            <div class="bdetails">
                                                <p><b>Bank Name:</b> GTBANK</p>
                                                <p><b>Account Name:</b> Vendtech</p>
                                                <p><b>Account Number:</b> 65498764457</p>
                                                <p><b>BBAN:</b> 3hr741</p>
                                            </div>
                                        </div>
                                        <div class="editpro-row50">
                                            <label>Vendor Name</label>
                                            <input type="text">
                                        </div>
                                        <div class="editpro-row50">
                                            <label>CHX/CASH</label>
                                            <select>
                                                <option>Cash</option>
                                                <option>Cheque</option>
                                            </select>
                                        </div>
                                        <div class="editpro-row50">
                                            <label>CHX # or SLIP ID</label>
                                            <input type="text">
                                        </div>
                                        <div class="editpro-row50">
                                            <label>Deposit Amount</label>
                                            <input type="text">
                                        </div>
                                        <div class="editpro-row50">
                                            <label>Comments</label>
                                            <textarea></textarea>
                                        </div>
                                        <div class="editpro-row submt">
                                            <input type="submit" placeholder="Submit">
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    @*<script type="text/javascript">
        var totalCount = "@Model.TotalCount";
        </script>*@
    <script src="~/Scripts/AdminScripts/templates.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            //Templates.ManageTemplates(totalCount);
        });
    </script>
}