@model PagingResult<CMSPageViewModel>
@{
    ViewBag.Title = "CMS Manager";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>CMS Manager</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header">
                        <h3>CMS Manager</h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "TemplateName", SortOrder = "Asc" })
                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="PageName">PAGE NAME</th>
                                            <th class="sorting" data-sortby="PageTitle">PAGE TITLE</th>
                                            <th class="sorting" data-sortby="CreatedOn">CREATED ON</th>

                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_pageListing", Model)

                                    </tbody>
                                </table>
                            </div>

                        </div>
                        @Html.Partial("_Paging")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/cmsPages.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            $("#searchRow").hide();
            Pages.ManagePages(totalCount);
        });
    </script>
}

