﻿@model PagingResult<POSListingModel>
@{
    ViewBag.Title = "Manage POS";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Manage POS</h2>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="header noborder">
                        <h3>
                            <a href="@Url.Action("AddEditPOS", "POS", new { area = "Admin" })" class="btn btn-primary pull-right" title="Add POS">
                                <i class="fa fa-user "></i><super><i class="fa fa-plus"></i></super>
                            </a>
                        </h3>
                    </div>
                    <div class="content">
                        <div class="table-responsive">
                            @Html.Partial("_SearchFilter", new PagingModel { SortBy = "CreatedAt", SortOrder = "Desc"})

                            <div id="divResult">
                                <table class="table table-bordered" id="datatable-icons">
                                    <thead>
                                        <tr>
                                            <th class="sorting" data-sortby="POSId">POS ID</th>
                                            <th class="sorting" data-sortby="VendorId">VENDOR NAME</th> 
                                            <th class="sorting" data-sortby="COMMISSION">COMMISSION %</th>
                                            <th class="sorting" data-sortby="SerialNumber">POS SIM #</th>
                                            <th class="sorting" data-sortby="MeterCount">SAVED METERS</th>
                                            <th class="sorting" data-sortby="VendorType">POS TYPE</th>
                                            <th class="sorting" data-sortby="Enabled">ENABLED</th>
                                            <th class="sorting" data-sortby="Balance">BALANCE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @Html.Partial("Partials/_posListing", Model)
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        @*@Html.Partial("_Paging")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"> <strong> Vendor: </strong><span id="vendorName"></span></h4>
                <h4 class="modal-title"><strong>POS ID: </strong><span id="posId"></span></h4>
            </div>

            <div class="modal-body">
            </div> 
        </div>
    </div>
</div>


  


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
        var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/AdminScripts/pos.js"></script>


    <script type="text/javascript">
        $("#searchField").show();
        var searchFields = ["POS ID", "VENDOR NAME", "POS SIM #", "POS TYPE", "ENABLED", "COMMISSION"];
        for (var i = 0; i < searchFields.length; i++) {
            $("#searchField").append("<option value=" + searchFields[i] + ">" + searchFields[i] + "  </option>") 
        }

        $(document).ready(function () {
            //initialize the javascript 
            $('#searchField option[value="VENDOR"]').attr("selected", true);
            $('.filter-select option[value="100"]').attr("selected", true);
            App.init();
            Users.ManageUsers(totalCount);
        });

        function onSavedMeterClicked(userId, vendor, posid) {
            

            if (userId) {
                var inputParam = new Object();
                inputParam.token_string = userId

                $.ajax({
                    url: baseUrl + '/Meter/GetUserMeters',
                    data: $.postifyData(inputParam),
                    type: "POST",
                    success: function (data) {
                        $("#vendorName").text(vendor);
                        $("#posId").text(posid);
                        $('.modal-body').html(data);
                        $("#myModal2").modal("show");
                        
                    }
                });
            }
        }
    </script>
}

