@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_LayOut.cshtml";
}

<div class="container-fluid" id="pcont">
    <div class="page-head">
        <h2>Edit Profile</h2>

    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat front">
                    <div class="editpro">
                        <div class="editpro-left">
                            <div class="dummyimg">
                            </div>
                        </div>
                        <div class="editpro-right">
                            <form>
                                <div class="editpro-row">
                                    <div class="editpro-row50">
                                        <label>First Name</label>
                                        <input type="text">
                                    </div>
                                    <div class="editpro-row50">
                                        <label>Last Name</label>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="editpro-row">
                                    <div class="editpro-row50">
                                        <label>User Name</label>
                                        <input type="text">
                                    </div>
                                    <div class="editpro-row50">
                                        <label>Email</label>
                                        <input type="email">
                                    </div>
                                </div>
                                <div class="editpro-row">
                                    <div class="editpro-row50">
                                        <label>Phone</label>
                                        <input type="tel">
                                    </div>
                                    <div class="editpro-row50">
                                        <label>Address</label>
                                        <textarea></textarea>
                                    </div>
                                </div>
                                <div class="editpro-row">
                                    <div class="editpro-row50">
                                        <label>Country</label>
                                        <select>
                                            <option>India</option>
                                            <option>USA</option>
                                            <option>UK</option>
                                        </select>
                                    </div>
                                    <div class="editpro-row50">
                                        <label>City</label>
                                        <select>
                                            <option>Delhi</option>
                                            <option>Chandigarh</option>
                                            <option>Mumbai</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="editpro-row submt">
                                    <input type="submit" placeholder="Submit">
                                </div>
                            </form>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    @*<script type="text/javascript">
        var totalCount = "@Model.TotalCount";
        </script>*@
    <script src="~/Scripts/AdminScripts/templates.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            //Templates.ManageTemplates(totalCount);
        });
    </script>
}