
@{
    ViewBag.Title = "AccesDeniedPage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}

<h2>You don't have access of this page</h2>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {
            //initialize the javascript
            App.init();
        });
    </script>
}