@model PagingResult<MeterAPIListingModel>

@{
    ViewBag.Title = "Manage Meters";
    Layout = "~/Views/Shared/_Layoutv2.cshtml";
}


@Html.Partial("_Title")

<style>
    .disabled-link {
        pointer-events: none;
        cursor: not-allowed;
        text-decoration: none;
    }
</style>
<div class="d-flex justify-content-end mb-3">
    <a class="btn submitBtn" href="/Meter/AddEditMeter">
        <i class="fas fa-plus-circle"></i> Add Meter
    </a>
</div>
<div class="mt-5">

    <input id="IsActive" value="true" hidden />
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a id="true"
               class="nav-link active cancelBtn"
               onclick="openTab('true')"
               data-toggle="tab"
               href="#home"
               role="tab"
               aria-controls="home"
               aria-selected="true">ACTIVE METERS</a>

        </li>
        <li class="nav-item">
            <a 
               id="false"
               class="nav-link submitBtn"
               onclick="openTab('false')"
               data-toggle="tab"
               href="#profile" role="tab"
               aria-controls="profile"
               aria-selected="false">INACTIVE METERS</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="true">
            <div id="divResult">
                <table id="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">METER #</th>
                            <th scope="col">NAME ON METER</th>
                            <th scope="col">ADDRESS</th>
                            <th scope="col">ALIAS</th>
                            <th scope="col">METER MAKE</th>
                            <th scope="col">DATE SAVED</th>
                            <th scope="col">ACTIVE</th>
                            <th sope="col">EDIT</th>
                            <th sope="col">RECHARGE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("Partials/_meterListing", Model)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
    <script type="text/javascript">
            var totalCount = "@Model.TotalCount";
    </script>
    <script src="~/Scripts/UserScripts/meter.js"></script>



    <script type="text/javascript">

        function openTab(status) {

            $('.divResult table:first tbody').html('')
            var otherTabStatus = status === 'true' ? 'false' : 'true';
            document.getElementById(status).className = 'nav-link cancelBtn';
            document.getElementById(otherTabStatus).className = 'nav-link submitBtn';

            $('#IsActive').val(status === 'true' ? true : false);
            console.log($('#IsActive').val())
            return UserMeters.SortUserMeters($(this));
        }

        $(document).ready(function () {
            //initialize the javascript
            App.init();
            UserMeters.ManageUsers(totalCount);

        });
    </script>
}
