@model PagingResult<MeterAPIListingModel>

    @{
        ViewBag.Title = "Manage Meters";
        Layout = "~/Views/Shared/_LayOut.cshtml";
    }

    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>Manage Meters</h2> 
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat front">
                        <a class="addmeter" href="/Meter/AddEditMeter"><i class="fa fa-plus-circle"></i> <label>Add Meter</label></a>
                        <br /><br />
                        <div class="table-responsive"> 
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">METER #</th>
                                        <th scope="col">NAME ON METER</th>
                                        <th scope="col">ADDRESS</th>
                                        <th scope="col">ALIAS</th>
                                        <th scope="col">METER MAKE</th>
                                        <th scope="col">DATE SAVED</th>
                                        <th scope="col">VERIFIED</th>
                                        <th sope="col">DELETE</th>
                                        <th sope="col">EDIT</th>
                                        <th sope="col">RECHARGE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Partial("Partials/_meterListing", Model) 
                                </tbody>
                            </table>
                        </div>
                        @Html.Partial("_Paging")
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section scripts{
        <script src="~/Scripts/UserDefinedScripts/paging.js"></script>
        <script type="text/javascript">
            var totalCount = "@Model.TotalCount";
            </script>
        <script src="~/Scripts/UserScripts/meter.js"></script>



        <script type="text/javascript">

            $(document).ready(function () {
                //initialize the javascript
                App.init();
                            Users.ManageUsers(totalCount);

            });
        </script>
    }
