
<label>
    <button type="button" class="miniReportBtn btn" onclick="miniSalesReportHandler.fetchMiniSalesReport(this, 'daily', false)" >DAILY</button>
</label>
<label>
    <button type="button" class="miniReportBtn btn" onclick="miniSalesReportHandler.fetchMiniSalesReport(this, 'weekly', false)">WEEKLY</button>
</label>
<label>
    <button type="button" class="miniReportBtn btn" onclick="miniSalesReportHandler.fetchMiniSalesReport(this, 'monthly', false)">MONTHLY</button>
</label>