
<div class="row pagingWrapper1">
    <div class="pull-left">
        <div class="dataTables_info pageInfo" id="datatable-icons_info">@*Showing 11 to 20 of 57 entries*@</div>
    </div>
    <div class="col-sm-12">
        <div class="pull-right">
            <div class="dataTables_paginate paging_bs_normal ">
                <ul class="pagination">
                    <li class="prev disabled">
                        <a href="javascript:void(0)"><span class="fa fa-angle-left"></span>&nbsp;Previous</a>
                    </li>
                    <li class="next"><a href="javascript:void(0)">Next&nbsp;<span class="fa fa-angle-right"></span></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
