<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>

    <!--OLD PROD CONNECTION STRING-->
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-EGTKNE3\MSSQLSERVER02;Initial Catalog=VENDTECH_MAIN;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EGTKNE3\MSSQLSERVER02;initial catalog=VENDTECH_MAIN;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--LOCAL DB CONNECTION STRING-->
    <!--<add name="DefaultConnection" connectionString="Data Source=DESKTOP-EGTKNE3\MSSQLSERVER02;Initial Catalog=VENDTECH_MAIN;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EGTKNE3\MSSQLSERVER02;initial catalog=VENDTECH_MAIN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!--STAGING CONNECTION STRING-->
    <add name="DefaultConnection" connectionString="Data Source=92.205.181.48;Initial Catalog=STAGING_DEV;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.181.48;initial catalog=STAGING_DEV;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />


    <!--PROD CONNECTION STRING-->
    <!--<add name="DefaultConnection" connectionString="Data Source=92.205.181.48;Initial Catalog=VENDTECH_MAIN;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
    <add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=92.205.181.48;initial catalog=VENDTECH_MAIN;user id=vendtech_main;password=85236580@Ve;MultipleActiveResultSets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
  <appSettings>

    <add key="serverName" value="92.205.181.48" />
    <add key="dbName" value="VENDTECH_MAIN" />
    <add key="dbUser" value="vendtech_main" />
    <add key="dbPassword" value="85236580@Ve" />


    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogExceptionInDB" value="true" />
    <add key="EncryptionPassword" value="KMN87623Ghssybx783bxd729nxc83b63lmnbvxsaCVADF" />
    <add key="ApiKeyForPush" value="AIzaSyC7Pggn-iSqLU8tAJAaFmXQH-lyumz4PZE" />
    <add key="SenderIdForPush" value="110204203934" />
    <add key="FCMUrl" value="https://fcm.googleapis.com/fcm/send" />
    <add key="BaseUrl" value="https://vendtechsl.com/" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="IcekloudUsername" value="VENDTECH_Web" />
    <add key="IcekloudPassword" value="DfNh1BjUMlry5wXy1Ope" />
    <add key="IcekloudURL" value="https://www.xastris.com/api/services" />
    <add key="DevIcekloudURL" value="http://prepaid.icekloud.com/api/services" />
    <add key="RTSEDSATransaction" value="https://api.realvend.sl.rtsapps.co.za/prepaid.svc/user/transaction" />
    <add key="RTSEDSAEnquiry" value="https://api.realvend.sl.rtsapps.co.za/prepaid.svc/customer/enquiry" />
    <add key="SignaRServer" value="https://www.vendtechsl.com:459/" />
    <add key="IsDevelopment" value="1" />
    <add key="SMSAPI" value="https://kwiktalk.io" />
    <add key="SubmitSmsEndpoint" value="https://kwiktalk.io/api/v2/submit" />
    <add key="SMTPDisplayName" value="VendTech" />
    <add key="SMTPFrom" value="no-reply@vendtechsl.com" />
    <add key="SMTPPassword" value="cdlvtkaijldlzgzt" />
    <add key="SMTPFromtest" value="support@vendtechsl.com" />
    <add key="SMTPPasswordtest" value="ozgrkqzcdtswxscl" />
    <add key="SMTPUsername" value="xicomtest12@gmail.com" />
    <add key="AdminEmail" value="no-reply@vendtechsl.com" />
    <add key="AppLink" value="https://play.google.com/store/apps" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="HMACSHA256" decryption="Auto" />
    <customErrors mode="Off" />
    <authentication mode="None" />
    <trust level="Full" />
    <!--<compilation debug="true" targetFramework="4.6.1"/>-->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,              PublicKeyToken=cc7b13ffcd2ddd51" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--<rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <!--<defaultProxy>
      -->
    <!--/api/services-->
    <!--
      <proxy usesystemdefault="False" proxyaddress="https://www.xastris.com/api/services" bypassonlocal="True"/>
    </defaultProxy>-->
    <mailSettings>
      <smtp from="no-reply@vendtechsl.com">
        <network host="relay-hosting.secureserver.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
