<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>

		<!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-VendTech-20141209042335.mdf;Initial Catalog=ph10008834466_db;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!--<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.121.44.217;initial catalog=ph10008834466_db;user id=vt_admin;password=miHg628#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MI05Q1H\LOCALHOST1;initial catalog=VendTech;  integrated security=true;   user id=sa;password=technologies;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="DefaultConnection" connectionString="Data Source=188.121.44.217;Initial Catalog=ph10008834466_db;user id=vt_admin;password=miHg628#;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
		<!--<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ph10008834466_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.121.44.217;initial catalog=ph10008834466_db;user id=vt_admin;password=miHg628#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=ph10008834466_db;IntegratedSecurity=True;" providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="Data Source=188.121.44.217;Initial Catalog=ph10008834466_db;user id=vt_admin;password=miHg628#;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<!--<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=188.121.44.217:1433;initial catalog=ph10008834466_db;user id=vt_admin;password=miHg628#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--<add name="VendTechEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=14.141.175.108;initial catalog=VendTech;user id=xicom;password=Asd_12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="LogExceptionInDB" value="true" />
		<add key="EncryptionPassword" value="KMN87623Ghssybx783bxd729nxc83b63lmnbvxsaCVADF" />


		<add key="ApiKeyForPush" value="AIzaSyC7Pggn-iSqLU8tAJAaFmXQH-lyumz4PZE" />
		<add key="SenderIdForPush" value="110204203934" />
		<add key="FCMUrl" value="https://fcm.googleapis.com/fcm/send" />

		<add key="BaseUrl" value="http://vendtechsl.com/" />
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPPort" value="587" />

    <add key="IcekloudUsername" value="gtbank2" />
    <add key="IcekloudPassword" value="gtbank2" />

		<add key="SMTPDisplayName" value="VendTech" />
		<add key="SMTPFrom" value="no-reply@vendtechsl.com" />
		<add key="SMTPUsername" value="xicomtest12@gmail.com" />
		<add key="SMTPPassword" value="Xicom@512" />
		<add key="AdminEmail" value="no-reply@vendtechsl.com" />
		<add key="AppLink" value="https://play.google.com/store/apps" />
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<authentication mode="None" />
		<trust level="Full" />
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject.Web.Common" publicKeyToken="c7192dc5380945e7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.net>
    <defaultProxy useDefaultCredentials="true" >
    </defaultProxy>
		<mailSettings>      
			<smtp from="no-reply@vendtechsl.com">
				<network host="relay-hosting.secureserver.net" port="25" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>