@model PagingResult<RtsedsaTransaction>
@{
    ViewBag.Title = "Manage Sales Reports";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayOut.cshtml";
}


@{
    var assigned_platforms = (List<SelectListItem>)ViewBag.AssignedReports;
}
<link href="~/Content/css/Kendo/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.min.css" rel="stylesheet" />
<link href="~/Content/css/Kendo/css/kendo.default.mobile.min.css" rel="stylesheet" />

<div class="container-fluid" id="pcont">
    <style>
        input {
            font-weight: bold;
            text-transform: uppercase;
        }

        select {
            font-weight: bold;
            text-transform: uppercase;
        }

        label {
            font-weight: bold;
            text-transform: uppercase;
        }

        option {
            font-weight: bold;
        }


        div.dataTables_filter > label::before {
            content: "Quick Search :";
        }
    </style>
    <div class="page-head">
        <h3><b>Manage RTS/EDSA Transactions</b></h3>
    </div>
    <div class="cl-mcont">
        <div class="row">
            <div class="col-md-12">
                <div class="block-flat">
                    <div class="content">
                        <div class="table-responsive">
                            <div id="divResult">
                                <div class="topsec">
                                    <h2>TRANSACTION REPORTS</h2>
                                    <label>From: <span id="fromSpan">_</span>&nbsp;&nbsp;&nbsp;&nbsp; To: <span id="toSpan">_</span> </label>
                                    <label>Printed on: <span id="printedDate">@ViewBag.Pritdatetime</span></label>
                                    <label>
                                        Export:
                                        <select name="PrintType" id="PrintType">
                                            <option value="Excel">Excel</option>
                                            @*<option value="PDF">PDF</option>*@
                                        </select>
                                    </label>

                                    <label>
                                        <button type="button" id="btnExport">Export</button>
                                    </label>
                                    @*<label>
                                            <button type="button" id="btnprint">Print</button>
                                        </label>*@
                                </div>
                                <div class="blwsec">
                                    <div class="blwsec-left">
                                        <form action="Report/ExportSalesReportTo" method="post" id="salesform">
                                            <input type="hidden" name="ExportType" id="ExportType" value="Excel" />
                                            <input type="hidden" name="PrintedDateServer" id="PrintedDateServer" />

                                            <input type="hidden" name="SortBy" value="CreatedAt" id="SortBy" />
                                            <input type="hidden" value="Desc" name="SortOrder" id="SortOrder" />
                                            <input type="hidden" value="frmD" name="frmD" id="frmD" />




                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <div class="row">
                                                <label style="width:100%;">TRANSACTION PERIOD</label>
                                                <div style="width: 98%; float: left; ">
                                                    <label>FROM:</label>
                                                    <input type="text" value="" id="FromDate" name="FromDate">
                                                </div>

                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />

                                            <div class="form-group row">
                                                <label>Report</label>
                                                @Html.DropDownList("Rept", new SelectList(ViewBag.AssignedReports, "value", "text"), null, new { @class = "form-control", @id = "reportType" })
                                                <!--<select onchange="openReport(this.value)" class="form-control">-->
                                                @*<option value="Transactions"> Shift Enquiry </option>
        <option value="Inquiry"> Customers enquiries </option>*@
                                                <!--</select>-->
                                            </div>

                                            <hr style="background:#d0cbcb; height:1px;" />
                                            <input type="button" class="btn btn-primary" value="Search" id="btnFilterSearch" />
                                        </form>
                                    </div>



                                    <div class="blwsec-right">
                                        <div class="exportdata" style="height:500px; overflow:scroll;   max-width: 100%;">
                                            <table class="table table-bordered" id="datatable-icons">
                                                <thead>
                                                    <tr>
                                                        <th>ACCOUNT</th>
                                                        <th>CUSTOMER</th>
                                                        <th>DATE TRANSACTION</th>
                                                        <th>DEBT PAYMENT</th>
                                                        <th>METER SERIAL </th>
                                                        <th>RECEIPT</th>
                                                        <th>AMOUNT</th>
                                                        <th>TRANS ID</th>
                                                        <th>UNIT</th>
                                                        <th>UNIT PAYMENT</th>
                                                        <th>UNIT TYPE</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                    @Html.Partial("Partials/_salesListing", Model)
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <input type="hidden" value="CreatedAt" id="SortBy" />
                                    <input type="hidden" value="Desc" id="SortOrder" />
                                    <div style="clear:both"></div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{


    <script src="~/Scripts/AdminScripts/rtsedsaReport.js"></script>
    <script src="~/Scripts/AdminScripts/reportFilter.js"></script>
    <script src="~/Content/css/Kendo/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.514/js/cultures/kendo.culture.en-GB.min.js"></script>

    <script type="text/javascript">
    var totalCount = "@Model.TotalCount";


        $(document).ready(function () {

            App.init();
            const date = new Date();
            const formattedDate = date.toLocaleDateString('en-GB', {
                day: '2-digit', month: '2-digit', year: 'numeric'
            }).replace(/ /g, '-') + " " + date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }).replace("AM", "").replace("PM", "");

            $("#printedDate").text(formattedDate);
            $("#PrintedDateServer").val(formattedDate);


            $('#PrintType').on("change", function () {
                $('#ExportType').val($(this).val());
            });

            $("#btnExport").click(function (e) {
                var frm = $("#FromDate").val();
                var to = $("#ToDate").val();
                if (frm) {
                    $("#frmD").val(RtsEdsaHandler.getUnixDate(frm));
                }
                else {
                    $("#frmD").val('');

                }
                $('#salesform').attr('action', '/RTSEDSAReport/ExportRTSEDSATransactions');
                $("#salesform").attr("method", "Post");
                $("#salesform").submit();
            })

        });


    </script>
}

